@import "tailwindcss";

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  /* Ocultar spinners/flechas nativas en inputs de tipo number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
